html {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent!important;
}
body {
    background: transparent!important;
}
.mat-input-element {
    caret-color: #59c230;
}