server.cfg
permissions.cfg
cache
db
resources/\[gameplay\]
resources/\[custommaps\]
resources/\[gamemodes\]
resources/\[local\]
resources/\[managers\]
resources/\[system\]
resources/\[test\]
resources/\[Vehicles\]
resources/mysql-async
resources/vMenu
resources/\[Custom\]/TornadoScript
resources/\[Custom\]/xsound
resources/\[Custom\]/PolyZone
resources/\[Custom\]/pma-voice
resources/\[Custom\]/qtarget
resources/\[Custom\]/frfuel
resources/\[Custom\]/minigames
resources/\[Custom\]/compass
resources/\[Custom\]/bodged-radio
**/node_modules
**/env.js