.inputQuantity {
  width: 70px;
  height: 36px;
  background-color: #2b2a2c;
  color: white;
  border: 1px solid green;
  border-radius: 4px;
  text-align: center;
  position: relative;
  top: 2px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.row {
  max-height: 590px;
  overflow-y: auto;
}

.catalogueImg {
  width: 60px;
  height: 60px;
}