.list-group-item {
    color: white;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.267);
}

.list-group-item p {
    margin: 0;
}

.list-group {
    max-height: 635px;
    overflow: auto;
}
.row {
    margin-left: 0;
}


.card{
    height: 781px;
    border-radius: 40px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.msg_card_body{
    overflow-y: hidden;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-body {
    padding: 1rem 1rem 0!important;
}
.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    padding: 7px 10px 30px!important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:1px solid black;
    border-radius: 8px!important;
    color:#515151 !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg_focus, .type_msg_focus2{
    background-color: rgba(150,150,150,0.3) !important;
    border-color: white;
}

.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}
.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #541272;
    padding: 10px;
    position: relative;
    max-width: 95%;
    overflow-wrap: break-word;
}
.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #3487a0;
    padding: 10px;
    position: relative;
    max-width: 95%;
    overflow-wrap: break-word;
}
.msg_time{
    position: absolute;
    left: 0;
    bottom: -19px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    white-space: nowrap;
}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -19px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    white-space: nowrap;
}
.msg_head{
    position: relative;
}
@media(max-width: 576px){
    .contacts_card{
        margin-bottom: 15px !important;
    }
}


.focus {
    border: 1px white solid;
}