#Menu {
    height: 100%;
    background: white;
    border-right: 1px solid rgba(255, 0, 0, 0.192);
    border-radius: 10px 0 0 10px;
}

#Logo {
    margin-bottom: 20px;
}
#Logo a {
    color: black;
    text-decoration: none;
}
#Logo img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.menu-item {
    display: block;
    width: 100%;
    padding: 10px 0 15px 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: #e1090a;
}

.menu-item:hover {
    color: white;
    background: #e10909bd;
}

.active, .active:hover {
    color: white;
    background: #e1090a;
}
