:host {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.progress-ring {
}
  
.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
  
#serverId {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    text-shadow: 4px 2px 4px #33333373;
}

@keyframes backgroundChange {
    0% { fill: #333333a1; }
    50% { fill: #6e6e6ea1; }
    100% { fill: #333333a1; }
}