<slot name="vehicle"></slot>
<div id="gaugesrpmspeed">
    <div id="rpm">
        <span id="gaugerpm"></span>
        <span id="needlerpm"></span>
        <span id="rpmtxt">RPM</span> 
    </div>
    <div id="speedometer">
        <span id="gaugespeed"></span>
        <span id="needlespeed"></span>
        <span id="speed">0</span>
        <span id="kmh">KM/h</span> 
    </div>
</div>
<div id="fuel">
    <div id="fuel-bar">
        <div id="fuel-value"></div>
    </div>
    <div id="fuel-txt"><span id="fuel-p">0</span>%</div>
    <span class="fas fa-gas-pump"></span>
</div>
<span id="gear">0</span>
<br><br><br>