<div class="app">
    <h1 class="mt-5 pt-3 px-4">Paramètres</h1>
    <div class="row p-1">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start" [ngClass]="{focused: focused===0}">
                <div class="ms-2 me-auto">
                    <h2 class="m-0">Mon numéro</h2>
                    <p>555-{{phoneNumber}}</p>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start" [ngClass]="{focused: focused===1}">
                <div class="ms-2">
                    <h2 class="m-0">Volume notification (sauvegarde pas après déco)</h2>
                    <mat-slider max="100" min="0" [(ngModel)]="volume" style="width: 280px;"></mat-slider>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start" [ngClass]="{focused: focused===2}">
                <div class="ms-2 me-auto">
                    <h2 class="m-0">Debug - stop notification</h2>
                </div>
            </li>
        </ul>
    </div>
</div>